.user {
    background-color: darkgrey;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
    width: 1200px;
}
.content {
    display: flex;
}

.content > img {
    height: 250px;
    border-radius: 50%;
    border: 2px solid black;
    background-size: cover;
}
.texts {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left: 50px;
   gap: 10px;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-right: 20px;
    margin-left: 10px;
}
.buttons > button {
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
    font-size:17px;
    color: azure;
    font-weight: bold;
    cursor: pointer;
}

#alterar {
    background-color: darkblue;
}
#deletar {
    background-color: red;
}